    .form-container{ display: block; }
    .upload-form{ display: none;  }
    .select-stores-form {
        margin : 30px 0px;
    }
    .datepicker-div{
        padding: 30px 0px;
        display: none;
    }

    #file-uploader{ 
        display: none;
    }

    .file-actions{
        text-align: right;
    }
    #actions{
        display: none;
    }

    #file-uploader{ background-color: #fff; border: 1px dashed #ccc; }

    #watermark{
        color: #ccc;
        padding: 0px;
        margin: 0px;
        top: 80px;
    }

    .chosen-choices{
        overflow: scroll;

    }