body{
	background-color: #14380C !important;
}

.nav-header{
	background: #14380C url('/images/skin/atmo.png') top center no-repeat !important;
	margin: 20px 0px;
}

.metismenu > li.active{
	border: none !important;
}

.metismenu > li a{
	border-left: 4px solid #14380C !important;
	border-left: none;
}

.metismenu > li.active a{
	border-left: 4px solid #F1CA00 !important;	
    background: #7F9A82 !important;
}

.metismenu > li.active a:hover{
	border-left: 4px solid #F1CA00 !important;
}

.metismenu > li a:hover{
	border-left: 4px solid #F1CA00 !important;	
	background: #7F9A82 !important;
}

.metismenu > li.active a:hover{
	border-left: none;
}

.metismenu li.urgetnNoticeNav {
	border: none !important;
	background-color: #F1CA00; 
	color: white;
}

.metismenu li.urgetnNoticeNav a{
	border: none !important;
}



.navbar-minimalize{
	background-color: #14380C !important;
	border: #14380C;
}


.metismenu .label-primary{
	background-color: #F1CA00 !important;
}

.product-price{

  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #489bd5;
  padding: 6px 12px;
  position: absolute;
  bottom: 0px;
  right: 0;

	background-color: none;
	width: 100%;
	background: transparent url('/images/2B2B2B-0.6.png') top left repeat;

}

.product-box{ padding: 1px !important; margin: 10px !important; height: 168px; width: 168px; float: left;}