@media print {
  body * {
    /*visibility: hidden;*/
    display: hidden;
  }
  .printable, .printable * {
    /*visibility: visible;*/
    display: block !important;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }
}