.package-document-listing {
	border-bottom:thin solid #e9e9e9;
	padding-bottom: 10px;
}
.feature_package, .package-folder-document, .package-document-listing , .feature_documents {
	cursor: pointer;
}

.feature_package ul{
	margin-left: -30px;
}

.feature_package li{
	list-style:none;
}

