/* html, body {
      height: 100%;
      min-width:1000px;
    }*/
/*    #actions {
      margin-top: -6em;
    }*/
    /*#actions .start, #actions .cancel {
      display: none;
    }*/
    #previews{
      margin-top: 4em;
    }

    /* Mimic table appearance */
    div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }
    
    thead th {
        background-repeat: no-repeat;
        background-position: right center;
    }
    thead th.up {
        padding-right: 20px;
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    }
    thead th.down {
        padding-right: 20px;
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    }


    /* The total progress gets shown by event listeners */
    #total-progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the start and cancel button for single file */
    #previews .file-row .cancel , #previews .file-row .start{
      display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
      display: none;
    }
    #previews .file-row.dz-success .delete {
      display: block;
    }

    .next-action{
      float:right;
      margin-bottom: 10px;
    }
    #file-uploader {
      min-height:350px;
      background-color: #eee;
      margin-top: 8em;
      margin-bottom: 2em;
    }
    #watermark {
     position:relative;
     top:150px;
     text-align:center;
     font-size: 30px;
     z-index:1;
     color:#fff;`
    }
    .admin-container{
      position:relative;
    }

    /* Navigation Style */   
    .navigation-container{
      min-width:10%;
      width:15%;
      max-width:20%;
      float: left;
      height:100%;
      overflow: hidden;
      white-space: nowrap;
      border-right: thin solid #eeeeee;
    }
    .navigation-container:hover{
      cursor:ew-resize;
    }
    .content-container{
      float:left;
      min-height: 450px;
      width: 75%;
      padding: 1.5em;
      display: inline-block;
    }
    #file-container{
      padding: 0 2em;
    }

  .ui-resizable-handle {
    float:right;
  }

